.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
    background-color:#000000;
    color:#ffffff;
}

.nav-pills>li>a{
    color: #000000;
}

.nav-pills{
    margin-bottom: 10px;
}

.lista-adicionar,.lista-remover,.btn-down{
    background-color: #1c1f22;
    border: #1c1f22;
}

.lista-adicionar:active,.lista-remover:active,.btn-down:active,
.lista-adicionar:hover,.lista-remover:hover,.btn-down:hover{
    background-color: #000000 !important;
    border: #000000 !important;
}

.card{
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
 
}
.card-img-top {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}
.card-block {
    padding: 1rem;
}
.card-link:hover {
    text-decoration: none;
}
.card p {
    margin: 0;
}
img.card-img-top{
    height: 230px;
    width: 180px;
}
.card .card-title{
    margin-top: 30px;
    height: 60px;

}.card .autores{
     height: 60px;
 }

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #000000;
    border-color: #000000;
 }

 .pagination>li>a{
     color: #000000;
 }

 .autor-titulo{
    color: #000000;
 }

 .autor-titulo:hover,.autor-titulo:active,.autor-titulo:focus{
    color: #cb2027;
    text-decoration:none !important;
 }